
/* FONT Y RESET */

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Light'), local('GothamPro-Light'),
        url("../fonts/GothamPro-Light.woff2") format('woff2'),
        url("../fonts/GothamPro-Light.woff") format('woff'),
        url("../fonts/GothamPro-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gotham Pro',sans-serif ;
    text-align: center;   
}

/* FIN FONT Y RESET */

/* IMPORT */

@import "funciones/variables";
@import "funciones/mixin";
@import "pages/expo-galeriaarte";
@import "pages/expo-escritos";
@import "pages/expo-melt";
@import "pages/expo-danza";
@import "pages/expo-inscripcion";
@import "pages/contacto";

/* FIN IMPORT */


/* HEADER */

header{
    width: 100vw;
    background-color: $color-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    border-bottom: 1px solid $color-bg-dos;
    position: fixed;
    top: 0; 
    z-index: 900;
    a{
        img{
            height: 98px;
        }
    }
    nav{
        background-color: $color-bg;
        div{
            background-color: $color-bg;
            .navbar-toggler {
                outline: none; 
                border: none; 
                box-shadow: none; 
              }
            .navbar-toggler:focus{
                outline: none; 
                border: none; 
                box-shadow: none;  
            }     
            div{
                ul{
                    li:hover{
                        color: blueviolet;
                        font-weight: bold;    
                    }
                    li{
                        ul{
                            border: 1px solid $color-bg-dos;
                            li{
                                padding: 0 10px;
                                a{
                                    background-color: $color-bg;
                                    text-decoration: none;
                                    color: rgb(37, 36, 36);
                                }
                                a:focus{
                                    background-color:$color-bg;
                                }
                            }
                            li:first-child{
                                background-color: $color-principal;
                                a{
                                    background-color: $color-principal; 
                                    color:$color-secundario; 
                                }
                            }
                            li:last-child{
                                background-color: $color-secundario;
                                a{
                                    background-color: $color-secundario; 
                                    color:$color-principal; 
                                }
                            }
                            .dropdown-expo:hover{
                                color: $color-secundario-dos;
                                font-weight: bold;  
                            }
                        }        
                    } 
                }
            }
        }
    }      
}

/* FIN HEADER */


/* MAIN */
main{
    position: relative;
    top: 100px;
    width: 100vw;
    @include flex-column;
    div {
        img{
        height: 90vh;
        max-width: 90vw;
        object-fit: cover;
        margin-right: 80px;}
    }
}
/* FIN MAIN */


/* SECTION */

section{
    @include flex-column;
    position: relative;
    top: 100px;
    min-height: 100vh;
    border-bottom: 2px solid $color-secundario;
    text-shadow:1px 1px 20px rgba(0, 0, 0,1);
    color:$color-bg;  
    h1{
        margin-top: 100px;
        font-size: $fs-titulos-h1;
        font-weight: bold;
    }
    h2{
        margin-top: 100px;
        font-size: $fs-titulos-h2;
        font-weight: bold;
    }
    div{
        margin: 1rem;
        @include flex-row;
        div{
            @include flex-column;

            h3{
                font-size:$fs-titulos-h3;
            }
            p{
                font-size: $fs-parrafos;
                max-width: 800px;
            }
            ul{
                @include flex-column;
                font-size: $fs-links-expo;
                list-style: none;
                li{
                    text-decoration: none;
                    transition: color 0.3s, text-shadow 0.3s;
                    a{
                        color:$color-principal;
                        font-weight: bolder;
                        text-shadow: 1px 1.5px 2.5px black;
                        text-decoration: none;
                        transition: color 0.3s, text-shadow 0.3s;
                    }
                    a:hover{
                        text-decoration: underline;
                        color:$color-secundario-dos;
                        transition: 0.5s ease;
                        text-shadow:0.5px 0.5px 50px $color-bg;
                    }
                }   
            }
        }
        img{
            width: 42rem;
            border: 3px solid $color-secundario;
            border-radius: 50%;
        }
    }
    .inscripcion{
        display: block;
        padding: 20px 20px;
        max-width: 90vw;
        font-size: 4rem ;
        font-weight: bolder;
        color:rgb(68, 17, 116);
        text-decoration: none;
        background-color:$color-principal;
        transition: 1s;
        border-radius: 10px;
        margin-top: 50px;
           
    }
    .inscripcion:hover{
        color: rgb(244, 3, 207);
        background-color:rgb(68, 17, 116);
        scale: 0.8;
        transition: 1s ease;
        box-shadow:0.5px 0.5px 50px $color-bg; 
    }
}

#nosotroslink{
    background-image: url(../img/fotoequipo-transformed.jpeg);
    background-size: cover;
    color:$color-bg;
    margin-bottom: 0;
    h1{
        color:$color-principal;
    }
}

#exponenciarte{
    background-image: url(../img/bg-expo/img-expo1.png);
    background-size: cover;
    color: $color-bg;
    padding-bottom: 100px;
    h2{
        color: $color-secundario-dos;
        margin-bottom: 50px;
        font-weight: bolder;
    }
}

#efemerides{
    background-image: url(../img/bg-expo/img-expo7.png);
    text-shadow: 0.5px 0.5px 10px rgba(0, 0, 0,1);
    background-size: cover;
    div{
        margin-bottom: 100px;
        text-shadow: 0.5px 0.5px 10px rgba(0, 0, 0,1);
        div{
            h3{
                color:$color-principal;   
            }     
            img{
                width: 42rem;
                border-radius: 50%;
                border: 3px solid $color-secundario;
            }
        }
    }
}


/* FIN SECTION */

/* FOOTER */

footer{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2 8fr 2fr;
    gap: 2rem;
    padding-top: 120px;
    color: rgb(37, 36, 36);
    background:linear-gradient(rgb(161, 161, 161), rgb(66, 66, 66)) ;
    .grid-contenedor{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content:space-evenly;
        justify-content: space-evenly;
        .direccion-contenedor{
            @include flex-column;          
            font-size: 1rem;
            align-self: center;
            justify-self: center;
            gap: 1rem;
            a{
                color: rgb(37, 36, 36);
                text-decoration: none;
                h3{
                    font-size: $fs-titulos-h3;
                    font-weight: lighter;
                    color: rgb(37, 36, 36)
                }
            }
            a:hover{
                text-decoration: underline;
            }
            span{
                font-size: 1.2rem;
            }
        }
        .mapa-container{
            border-color: 30px solid rgb(244, 3, 207); 
        }
        .rrss-container{
            @include flex-column;
            gap: 20px;
            align-self: flex-start;
            h3{
                font-size: $fs-titulos-h3;
            }
            a{
                img{
                    width:70px;
                }
            }
        }
    }
    .firma-container{

        p{
            font-size: 0.7rem;
            a{
                text-decoration: none;
                border-bottom: 1px solid rgb(244, 3, 207);
                color: black;
            }
        } 
    }
}

/* FIN FOOTER */


/* MEDIA QUERIES */

/* TABLET */

@media all and (min-width: 550px) and (max-width: 1500px){
    main{
        div{
            img{
                margin-right: 0;
            } 
        } 
    }
    section{
        h1,h2{
            font-size: 4rem;
        }
        img{
            display: none;
        }
        .inscripcion{
            font-size: 2rem;
        }
    }
    footer{
        .grid-contenedor{
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto;
            .mapa-container{
                display: none;
            }
            .direccion-contenedor{
                grid-area: 1 / 1 / 3 / 2;
            }
            .rrss-container{
                grid-area: 1 / 2 / 3 / 3;
            }
        }
    }
}

/* FIN TABLET */

/* MOBILE */

@media all and (max-width: 550px){
    header{
        a{
            img{
                height: 70px;
            } 
        }
    }
    main{
        div{
            img{
                margin-right: 0;
            } 
        }
    }
    section{
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 3rem;
        }
        img{
            display: none;
            
        }
        .inscripcion{
            font-size: 2rem;
        }
   }
    footer{
        .grid-contenedor{
            grid-template-columns: 1fr;
            grid-template-rows: auto ;
            justify-content: center;
            .mapa-container{
                display: none;
            }
            .direccion-contenedor, .rrss-container{
                justify-self: center;
            }
        }
    }
}

/* FIN MOBILE */
 