// PALETA DE COLORES

$color-principal: #fc228c;
$color-secundario: rgb(68, 17, 116);
$color-secundario-dos: rgb(138, 43, 226);

$color-bg: rgb(255, 255, 255);
$color-bg-dos: rgb(128, 128, 128);

// FONT SIZES

$fs-titulos-h1: 6rem;
$fs-titulos-h2: 6rem;
$fs-titulos-h3: 2.5rem;
$fs-parrafos: 1.2rem;
$fs-links-expo: 2rem;




